# Optional: to run full stack with `docker compose up`, provide Google OAuth secrets.
GOOGLE_CLIENT_ID=337620891181-t7j4k842ehtd18qva4srsjldqh50s4mg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
